.chatSection{margin-left: 200px;margin-top: 50px;
  h2{margin-bottom: 30px;}
}
.fileDiv{display: inline-block;position: relative;}
.fileDivInner{display: inline-block;cursor: pointer;}
.uploadedImg{width: 200px;}
ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    padding: 10px;
    background-color: #f1f1f1;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  input {
    padding: 8px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 8px 12px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #218838;
  }

  .receiver{text-align: right;}
  .downloadIcon{width: 30px;cursor: pointer;}
  .fileBox{border: solid 1px #ccc;display: inline-block;    padding: 5px;
    border-radius: 5px;
    max-width: 200px;}
    .dwn{display: inline-block;}
    .pbarWpr{display: inline-block;position: absolute;top: 0;left: 0;}
.fileOpenLoading{position: absolute;top: 0;left: 0;}
.topBar{display: flex;justify-content: space-between;}

  